doctype html
html(lang='en')
 head
  title SCRIPTUM
  meta(charset="utf-8")
  script(src='./script/scriptum.js')
  link(href='./css/scriptum.css') 
 body
  header
  main
  section about
  section works